*.py[cod]
.*
!.babelrc
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.flowconfig
!.gitignore
!.nvmrc
!.pylintrc
!.travis*
!.eslintrc.json
*.css
*.log
*.pot
*.pyc
saleor/settings/local.py
./saleor/settings/local.py
local_settings.py
__pycache__/
build/
dist/
*\.egg*
# data
/docs/_build/
/media/
/ve/
/node_modules/
/runtime/
/logs/
/static/
/saleor/static/assets/
webpack-bundle.json
